@import 'adaptive';
@import 'vars';

.footer {
   &__container {
      display: flex;
      flex-direction: column;
   }

   &__body {
      position: relative;
      @include adaptive-value("padding-top", 70, 25, 1);
      @include adaptive-value("padding-bottom", 100, 35, 1);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      width: 100%;
      &::before{
         content: '';
         position: absolute;
         top: 0;left: 0;
         height: 2px;
         width: 100%;
         background: linear-gradient(to right,#699DEA, #EACCF8, #6654F1);
      }
   }

   &__contacts {
      flex: 0 0 25%;
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   &__contacts-logo{
      margin-bottom: 24px;
   }
   &__link {
      font-weight: 500;
      @include adaptive-value("font-size", 18, 14, 1);
      line-height: 1.5;
      color: #3D3D3D;
      transition: 0.3s;
      @media (any-hover:hover){
         &:hover{
            transform: translateY(3px);
         }
      }
   }

   &__info {
      flex: 1 1 20%;
      min-width: 110px;
      display: flex;
      flex-direction: column;
      gap: 12px;
   }

   &__title {
      font-weight: 600;
      @include adaptive-value("font-size", 32, 20, 1);
      line-height: 1.5;
      letter-spacing: 0.015em;
      margin-bottom: 11px;
   }

   &__links {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }

   &__support {
      flex: 1 1 20%;
      min-width: 110px;
      display: flex;
      flex-direction: column;
      gap: 12px;
   }

   &__community {
      flex: 0 0 25%;
   }

   &__community-title {
      font-weight: 700;
      @include adaptive-value("font-size", 32, 20, 1);
      line-height: 1.5;
      letter-spacing: 0.015em;
      margin-bottom: 24px;
   }
   &__community-links{
      display: flex;
      gap: 14px;
   }
   &__community-link {
      position: relative;
      width: 50px;
      height: 50px;
      background: linear-gradient(90deg, rgba(105, 157, 234, 0.2) 0%, rgba(234, 204, 248, 0.2) 48%, rgba(102, 84, 241, 0.2) 100%);
      box-shadow: 0px 8px 12px rgba(30, 30, 30, 0.04), inset -1px -1px 4px rgba(255, 255, 255, 0.15), inset 3px 5px 3px rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(114px);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      @media (any-hover:hover){
         &:hover{
            transform: translateY(3px);
         }
      }
   }

   &__community-img {
      position: absolute;
      width: 23px;
      height: 23px;
      object-fit: contain;
   }

   &__copyright {
      text-align: center;
      font-weight: 500;
      @include adaptive-value("font-size", 18, 14, 1);
      line-height: 1.5;
      opacity: 0.5;
      letter-spacing: 0.015em;
   }
}

